* {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
    box-sizing: border-box;
    position: relative;
}

a {
    text-decoration: none;
    opacity: 0.8;
    color: var(--cor-primaria);
}

a:hover {
    text-decoration: none;
    color: var(--cor-secundaria);
}

:root {
    --cor-primaria: #141414;
    --cor-secundaria: #18a9da;
    --cor-terciaria: #F7F5EC;
  }

.logo {
    height: auto;
    width: 5%;
}

.navbar {
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: #d4d4d4;
}

.navbar ul {
    display: flex;
    flex-flow: row;
    list-style: none;
}

.navbar li {
    padding: 1vh;
    line-height: 2.2rem;
    font-weight: bold;   
}

.part {
  background-image: url(file:///C:/Users/Usuario/Desktop/TT/projeto/casinhas.jpg);
  background-size: cover;
  min-height: 95vh;
  background-color: #d4d4d4;
  background-blend-mode: overlay;
  
}

.slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20%; 
}

.slogan button {
    background-color: transparent;
    border: 2px solid black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.1em;
    margin-top: 5%;
}

.botao {
    margin-top: 20%;
    color: black;
    font-family: 'Comfortaa', cursive;
    border-radius: 30px;
    background-color: transparent;
}

h1 {
    color: #18a9da;
    font-size: 4em;
    text-shadow: 1px 1px 1px rgb(1, 16, 58);
}

.principal h3 {
    color: #18a9da;
    font-size: 2.7em;
    padding-right: 5%;
}

.conectar h3 {
    color: #18a9da;
    font-size: 3em;
}

.anunciar h3 {
    color: #18a9da;
    font-size: 3em;
    padding-right: 20%;
}

.principal h4 {
    color: black;
    font-size: 1.1em;
    padding-top: 2%;
    padding-right: 15%;
    padding-left: 5%;
}

.conectar h4 {
    color: black;
    font-size: 1.1em;
    padding-top: 2%;
    padding-right: 15%;
    padding-left: 15%;
}

.anunciar h4 {
    color: black;
    font-size: 1.1em;
    padding-top: 2%;
    padding-right: 15%;
    padding-left: 5%;
}

.ba {
    color: black;
    font-family: 'Comfortaa', cursive;
    border: 2px solid black;
    padding-right: 50px;
    padding-left: 50px;
    background-color: transparent;
    font-weight: bold;
    border-radius: 30px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.principal {
    display: flex;
    align-items: center;
    background-color: rgb(241, 241, 241);
    padding: 1%;
    border-radius: 30px;
}

.conectar {
    display: flex;
    align-items: center;
    background-color: #e1f2ec;
    padding: 1%;
    justify-content: space-between;
    border-radius: 30px;
}

.anunciar {
   display: flex;
   align-items: center;
   background-color: rgb(241, 241, 241);
   padding: 1%;
   border-radius: 30px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.baixo {
    display: flex;
    justify-content: space-between;
}

.icons {
    display: flex;
    justify-content: space-around;
    width: 10vw;
}

.icons i {
    margin-right: 10px;
    font-size: 2em;
}

.cima {
    display: flex;
    justify-content: flex-end;
    padding-right: 12%;
    padding-top: 2%;
}

.footer {
    background-color: #d4d4d4;
}

.footer .copy {
    font-size: 0.6em;
    display: flex;
    padding-top: 1%;
    padding-left: 1%;
}

.footer .titulo {
    font-size: 1.1em;
}

.footer .link {
    font-size: 0.9em;
}

.coluna {
    height: 20%;
    width: 20%;
}
